<!doctype html>
<html lang="" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="content/site.css" />
</head>
<body ng-controller="ShellController as shell">
  <div class="d3-navbar">
    <span class="logo">
      D3Compare
    </span>
    <span class="links">
      <a ng-click="shell.showAbout($event)">About</a>
    </span>
  </div>
  <div class="container" ng-controller="CompareController as compare">
    <div class="row">

      <div class="col-md-6 form-inline">
        <input type="text" class="form-control" ng-model="compare.leftAccountInput" />
        <input type="button" class="btn btn-primary" value="Get Account" ng-click="compare.getLeftAccount()" />
      </div>
      <div class="col-md-6 form-inline">
        <input type="text" class="form-control" ng-model="compare.rightAccountInput" ng-change="compare.getLeftHero()" />
        <input type="button" class="btn btn-primary" value="Get Account" ng-click="compare.getRightAccount()" />
      </div>
    </div>

    <div class="col-md-6">
      <br />
      <select ng-options="hero.name for hero in compare.leftAccount.heroes track by hero.id" ng-model="compare.leftSelect" ng-change="compare.getLeftHero()" class="form-control">
        <option value="">Select Character</option>
      </select>
      <br />
    </div>
    <div class="col-md-6">
      <br />
      <select ng-options="hero.name for hero in compare.rightAccount.heroes track by hero.id" ng-model="compare.rightSelect" ng-change="compare.getRightHero()" class="form-control">
        <option value="">Select Character</option>
      </select>
      <br />
    </div>

    <div class="col-md-6">
      <div class="left-data-wrap" ng-show="compare.leftActive">

        <table class="table table-striped">
          <tr>
            <th>Slot</th>
            <th>Description</th>
          </tr>
          <tr ng-repeat="item in compare.leftCharacterData.items">
            <td>{{$index}}</td>
            <td>{{item.name}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="(key, value) in compare.leftCharacterData.stats">
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="item in compare.leftCharacterData.skills.active">
            <td>{{item.skill.name}}</td>
            <td>{{item.skill.description}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="item in compare.leftCharacterData.skills.passive">
            <td>{{item.skill.name}}</td>
            <td>{{item.skill.description}}</td>
          </tr>
        </table>

      </div>
      <pre ng-if="compare.debug">{{compare.leftCharacterData | json}}</pre>
    </div>

    <div class="col-md-6">
      <div class="right-data-wrap" ng-show="compare.rightActive">

        <table class="table table-striped">
          <tr>
            <th>Slot</th>
            <th>Description</th>
          </tr>
          <tr ng-repeat="item in compare.rightCharacterData.items">
            <td>{{$index}}</td>
            <td>{{item.name}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="(key, value) in compare.rightCharacterData.stats">
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="item in compare.rightCharacterData.skills.active">
            <td>{{item.skill.name}}</td>
            <td>{{item.skill.description}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="item in compare.rightCharacterData.skills.passive">
            <td>{{item.skill.name}}</td>
            <td>{{item.skill.description}}</td>
          </tr>
        </table>

      </div>
      <pre ng-if="compare.debug">{{compare.rightCharacterData | json}}</pre>
    </div>

  </div>

  <!-- vendor -->
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/underscore/underscore-min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/ng-dialog/js/ngDialog.js"></script>

  <!-- app modules -->
  <script src="scripts/app.module.js"></script>

  <!-- app services -->
  <script src="scripts/services/BattleNetService.js"></script>

  <!-- app controllers -->
  <script src="scripts/shell/ShellController.js"></script>
  <script src="scripts/compare/CompareController.js"></script>
</body>
</html>
