<!doctype html>
<html lang="" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="vendor/ng-dialog/css/ngDialog-theme-default.css" />
  <link rel="stylesheet" href="content/site.css" />
</head>
<body>
  <div class="d3-navbar">
    Navbar
  </div>
  <div class="container" ng-controller="ShellController as shell">
    <div class="row">

      <div class="col-md-6 form-inline">
        <input type="text" class="form-control" ng-model="shell.leftAccountInput" />
        <input type="button" class="btn btn-primary" value="Get Account" ng-click="shell.getLeftAccount()" />
      </div>
      <div class="col-md-6 form-inline">
        <input type="text" class="form-control" ng-model="shell.rightAccountInput" ng-change="shell.getLeftHero()" />
        <input type="button" class="btn btn-primary" value="Get Account" ng-click="shell.getRightAccount()" />
      </div>
    </div>

    <div class="col-md-6">
      <br />
      <select ng-options="hero.name for hero in shell.leftAccount.heroes track by hero.id" ng-model="shell.leftSelect" ng-change="shell.getLeftHero()" class="form-control">
        <option value="">Select Character</option>
      </select>
      <br />
    </div>
    <div class="col-md-6">
      <br />
      <select ng-options="hero.name for hero in shell.rightAccount.heroes track by hero.id" ng-model="shell.rightSelect" ng-change="shell.getRightHero()" class="form-control">
        <option value="">Select Character</option>
      </select>
      <br />
    </div>

    <div class="col-md-6">
      <div class="left-data-wrap" ng-show="shell.leftActive">
        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="(key, value) in shell.leftCharacterData.stats">
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="item in shell.leftCharacterData.skills.active">
            <td>{{item.skill.name}}</td>
            <td>{{item.skill.description}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="item in shell.leftCharacterData.skills.passive">
            <td>{{item.skill.name}}</td>
            <td>{{item.skill.description}}</td>
          </tr>
        </table>

        <table class="table table-striped">
          <tr>
            <th>Slot</th>
            <th>Description</th>
          </tr>
          <tr ng-repeat="item in shell.leftCharacterData.items">
            <td>{{$index}}</td>
            <td>{{item.name}}</td>
          </tr>
        </table>

      </div>
      <pre>{{shell.leftCharacterData | json}}</pre>
    </div>

    <div class="col-md-6">
      <div class="right-data-wrap" ng-show="shell.rightActive">
        <table class="table table-striped">
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="(key, value) in shell.rightCharacterData.stats">
            <td>{{key}}</td>
            <td>{{value}}</td>
          </tr>
        </table>
      </div>
      <pre>{{shell.rightCharacterData | json}}</pre>
    </div>

  </div>

  <!-- vendor -->
  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/ng-dialog/ngDialog.js"></script>

  <!-- app modules -->
  <script src="scripts/app.module.js"></script>

  <!-- app services -->
  <script src="scripts/services/BattleNetService.js"></script>

  <!-- app controllers -->
  <script src="scripts/controllers/ShellController.js"></script>
</body>
</html>
