<div>
  <h1 class="orange">About D3Compare</h1>
  <h3>Version 0.0.1</h3>
  <p>D3Compare is a simple utility to compare two Diablo 3 characters side by side using the Battle.net API services.</p>

  <h2>Contact</h2>
  <table>
    <tr>
      <td>Twitter</td>
      <td>GitHub</td>
    </tr>
    <tr>
      <td><a href="https://twitter.com/robertzehnder" target="_blank">@robertzehnder</a></td>
      <td><a href="https://github.com/robertz/D3Compare" target="_blank">D3Compare GitHub repo</a></td>
    </tr>
  </table>
</div>
