<div>
  <table class="table table-striped">
    <tr ng-repeat="item in keys">
      <td>{{keys[$index]}}</td>
      <td><img ng-src="http://media.blizzard.com/d3/icons/skills/42/{{obj[$index].skill.icon}}.png" /></td>
      <td>
        <strong uib-tooltip="{{obj[$index].skill.description}}" tooltip-placement="top" tooltip-trigger="mouseenter">{{obj[$index].skill.name}}</strong>
        <br />
        <span uib-tooltip="{{obj[$index].rune.description}}" tooltip-placement="top" tooltip-trigger="mouseenter">{{obj[$index].rune.name}}<span>
      </td>
    </tr>
  </table>
</div>
