<table class="table table-striped">

  <tr>
    <td>LMB</td>
    <td>
      <img ng-src="http://media.blizzard.com/d3/icons/skills/42/{{obj[0].skill.icon}}.png" />
    </td>
    <td>
      <strong>{{obj[0].skill.name}}</strong>
      <br />{{obj[0].rune.name}}</td>
  </tr>

  <tr>
    <td>RMB</td>
    <td>
      <img ng-src="http://media.blizzard.com/d3/icons/skills/42/{{obj[1].skill.icon}}.png" />
    </td>
    <td>
      <strong>{{obj[1].skill.name}}</strong>
      <br />{{obj[1].rune.name}}</td>
  </tr>

  <tr>
    <td>1</td>
    <td>
      <img ng-src="http://media.blizzard.com/d3/icons/skills/42/{{obj[2].skill.icon}}.png" />
    </td>
    <td>
      <strong>{{obj[2].skill.name}}</strong>
      <br />{{obj[2].rune.name}}</td>
  </tr>

  <tr>
    <td>2</td>
    <td>
      <img ng-src="http://media.blizzard.com/d3/icons/skills/42/{{obj[3].skill.icon}}.png" />
    </td>
    <td>
      <strong>{{obj[3].skill.name}}</strong>
      <br />{{obj[3].rune.name}}</td>
  </tr>

  <tr>
    <td>3</td>
    <td>
      <img ng-src="http://media.blizzard.com/d3/icons/skills/42/{{obj[4].skill.icon}}.png" />
    </td>
    <td>
      <strong>{{obj[4].skill.name}}</strong>
      <br />{{obj[4].rune.name}}</td>
  </tr>

  <tr>
    <td>4</td>
    <td>
      <img ng-src="http://media.blizzard.com/d3/icons/skills/42/{{obj[5].skill.icon}}.png" />
    </td>
    <td>
      <strong>{{obj[5].skill.name}}</strong>
      <br />{{obj[5].rune.name}}</td>
  </tr>

</table>
