<div class="row">

  <div class="col-md-6 form-inline">
    <input type="text" class="form-control" ng-model="compare.leftAccountInput" />
    <input type="button" class="btn btn-primary" value="Get Account" ng-click="compare.getLeftAccount()" />
  </div>
  <div class="col-md-6 form-inline">
    <input type="text" class="form-control" ng-model="compare.rightAccountInput" />
    <input type="button" class="btn btn-primary" value="Get Account" ng-click="compare.getRightAccount()" />
  </div>
</div>

<div class="col-md-6">
  <br />
  <select ng-options="hero.name + ', ' + hero.level + ' ' + compare.classLabel[hero.class] + ' (' +  hero.paragonLevel + ')' for hero in compare.leftAccount.heroes track by hero.id" ng-model="compare.leftSelect" ng-change="compare.getLeftHero()" class="form-control">
    <option value="">Select Character</option>
  </select>
  <br />
</div>
<div class="col-md-6">
  <br />
  <select ng-options="hero.name + ', ' + hero.level + ' ' + compare.classLabel[hero.class] + ' (' +  hero.paragonLevel + ')' for hero in compare.rightAccount.heroes track by hero.id" ng-model="compare.rightSelect" ng-change="compare.getRightHero()" class="form-control">
    <option value="">Select Character</option>
  </select>
  <br />
</div>

<div class="col-md-6">
  <div class="left-data-wrap" ng-show="compare.leftActive">
    <table class="table table-striped">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <tr ng-repeat="(key, value) in compare.leftCharacterData.stats">
        <td>{{key}}</td>
        <td>{{value | number}}
          <span ng-if="compare.stats.leftChar[key] < 0" class="pull-right">
            <strong>({{compare.stats.leftChar[key] | number}})
              <strong>
          </span>
        </td>
      </tr>
    </table>

    <equipment-list obj="compare.leftCharacterData.items"></equipment-list>
    <active-skills obj="compare.leftCharacterData.skills.active"></active-skills>
    <passive-skill obj="compare.leftCharacterData.skills.passive"></passive-skill>

  </div>
  <pre ng-if="compare.debug">{{compare.leftCharacterData | json}}</pre>
</div>

<div class="col-md-6">
  <div class="right-data-wrap" ng-show="compare.rightActive">
    <table class="table table-striped">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <tr ng-repeat="(key, value) in compare.rightCharacterData.stats">
        <td>{{key}}</td>
        <td>{{value | number}}
          <span ng-if="compare.stats.rightChar[key] < 0" class="pull-right">
            <strong>({{compare.stats.rightChar[key] | number}})</strong>
          </span>
        </td>
      </tr>
    </table>



    <equipment-list obj="compare.rightCharacterData.items"></equipment-list>
    <active-skills obj="compare.rightCharacterData.skills.active"></active-skills>
    <passive-skill obj="compare.rightCharacterData.skills.passive"></passive-skill>

  </div>
  <pre ng-if="compare.debug">{{compare.rightCharacterData | json}}</pre>
</div>
